*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive;
    
}

body{
    background-image: url(./img/fondo.j.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 440px;
}

.cont_alert{
    position: absolute;
    z-index: 101;
    top: 200px;
    background-color: #CB6437;
    padding: 20px 5%;
    right: 10%;
    width: 25%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alert2{
    display: flex;
}

input,select,textarea{
    background-color: #fcb7f8;
    font-size: 15px;
    color:rgb(122, 120, 120);
}

.cont_for{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff00b3;
    padding: 8px 1%;
    position: absolute;
    left: -100%;
    top: 15px;
    transform: translate(-50%);
    transition: all 1s;
    width: 30%;
    border-radius: 8px;
    z-index: 100;
}

.cont_titulo_for{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #ffbae5;
}

.cont_nombre, .cont_propietario, .cont_telefono, .cont_mascota, .cont_fechaCita, .cont_horaCita, .cont_sintomas{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.nombreMascota, .nombrePropietario, .telefono, .tipoMascota, .fechaCita, .horaCita{
    margin-top: 8px;
    padding: 7px;
    border-radius: 8px;
    border: none;
}

.cont_btns_for{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

.btn_cerrar{
    background-color: #eb3824;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn_enviar{
    background-color: #23b35f;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_titulo{
    margin-top: 20px;
    font-size: 33px;
}

.cont_agregar{
    background-color: #ffc2e6;
    font-size: 35px;
    margin-top: 25px;
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(251, 9, 122, 0.803);
    cursor: pointer;
}

.cont_agregar:hover{
    transform: scale(1.1);
    transition: 1s ;
}

.cont_btn{
    cursor: pointer;
}

.cont_filtros{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.cont_btn_filtros{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cont_btn_activas, .cont_btn_anuladas, .cont_btn_cerradas{
    display: flex;
    margin: 0 10px;
}

.btn_activas{
    padding: 6px;
    border: none;
    border-radius: 8px;
    background-color: #fa84d3;
    box-shadow: 0px 0px 20px 0px rgba(251, 190, 9, 0.803);
    cursor: pointer;
    font-size: 15px;
    color: #000000;
}

.btn_cerradas{
    padding: 6px;
    border: none;
    border-radius: 8px;
    background-color: #fa84d3;
    box-shadow: 0px 0px 20px 0px rgba(251, 190, 9, 0.803);
    cursor: pointer;
    font-size: 15px;
    color: #000000;
}

.btn_anuladas{
    padding: 6px;
    border: none;
    border-radius: 8px;
    background-color: #fa84d3;
    box-shadow: 0px 0px 20px 0px rgba(251, 190, 9, 0.803);
    cursor: pointer;
    font-size: 15px;
    color: #000000;
}

.btn_activas:hover, .btn_cerradas:hover, .btn_anuladas:hover{
    transform: scale(1.1);
}

.pre_cont_activas{
    display: flex;
    flex-direction: column;
}

.pre_cont_anuladas{
    display: none;
    flex-direction: column;
}

.pre_cont_cerradas{
    display: none;
    flex-direction: column;
}

.cont_titulo_filtros{
    font-size: 26px;
    margin-top: 8px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.cont_titulo_activas, .cont_titulo_anuladas, .cont_titulo_cerradas{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 26px;
    color: #000000;
    text-transform: uppercase;
}

.cont_activas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 5%;
    gap: 15px;
}

.cont_anuladas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 5%;
    gap: 15px;
}

.cont_cerradas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 5%;
    gap: 15px;
}

.card{
    background-color: #694b35;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.img_mascota_card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cont_tipo_card, .cont_mascota_card, .cont_propietario_card, .cont_telefono_card, .cont_fecha_card, .cont_hora_card, .cont_sintomas_card{
    display: flex;
    margin-top: 10px;
    font-size: 17px;
    color: #CB6437;
}

.text_titulo_tipo_card, .text_titulo_mascota_card, .text_titulo_propietario_card, .text_titulo_telefono_card, .text_titulo_fecha_card, .text_titulo_hora_card, .text_titulo_sintomas_card{
    font-weight: bold;
    margin-right: 5px;
    font-size: 18px;
    color: #bda28e;
}

.cont_botones_card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
    margin:16px 0;
}

.btn_activar{
    background-color:#bda28e;
    border: 2px solid #CB6437;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    color: #2b1e14;
}

.btn_anular{
    background-color: #bda28e;
    border: 2px solid #CB6437;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    color: #2b1e14;
}

.btn_cerrar_card{
    background-color: #bda28e;
    border: 2px solid #CB6437;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    color: #2b1e14;
}

.btn_editar{
    background-color: #cd4e17;
    border: 2px solid #CB6437;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    color: #2b1e14;
}

.btn_activar:hover, .btn_anular:hover, .btn_cerrar_card:hover{
    background-color: #85C1E9;
}

.btn_editar:hover{
    background-color: #ff1818;
    color: #ffffff;
}


@media(max-width: 1450px){
    .cont_activas{
        padding: 0 2%;
    }

    .cont_anuladas{
        padding: 0 2%;
    }

    .cont_cerradas{
        padding: 0 2%;
    }
}

@media(max-width: 1250px){
    .cont_activas{
        grid-template-columns: repeat(3, 1fr);
    }

    .cont_anuladas{
        grid-template-columns: repeat(3, 1fr);
    }

    .cont_cerradas{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1000px){
    .cont_agregar{
        width: 25%;
    }

    .cont_activas{
        grid-template-columns: repeat(2, 1fr);
    }

    .cont_anuladas{
        grid-template-columns: repeat(2, 1fr);
    }

    .cont_cerradas{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px){
    .cont_agregar{
        width: 40%;
    }

    .cont_activas{
        grid-template-columns: repeat(1, 1fr);
    }

    .cont_anuladas{
        grid-template-columns: repeat(1, 1fr);
    }

    .cont_cerradas{
        grid-template-columns: repeat(1, 1fr);
    }
}